<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accenture.huaweigroup.module.mapper.ChessMapper">
    <resultMap id="getChessResultMap" type="com.accenture.huaweigroup.module.entity.Chess">
        <id property="id" column="chess_id"/>
        <result property="name" column="chess_name"/>
        <result property="price" column="chess_price"/>
        <result property="level" column="chess_level"/>
        <result property="hp" column="chess_hp"/>
        <result property="attack" column="chess_attack"/>
        <result property="type" column="chess_type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result property="img" column="chess_img"/>
    </resultMap>

    <select id="getAll" resultMap="getChessResultMap">
        select * from chess
    </select>


</mapper>

